{% extends 'base.html' %}
{% load static %}
{% block title %}{{ block.super}}order history page {% endblock title %}
{% block content %}
<h1>Order detail</h1>
    <a href="{% url 'store:order_history' %}">Back to order history</a><br><br><br>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% for item in order.orderitem_set.all %}
        <div id="order_item_{{ item.product.id }}">
            <b>name:</b> {{ item.product.name }}&nbsp
            <b>quantity:</b><span id="quantity_{{ item.product_id }}">{{ item.quantity }}</span>&nbsp
            <b>unit price:</b> {{ item.product.price_per_unit }}&nbsp&nbsp&nbsp
            <b>total price:</b> <span id="product_{{ item.product_id }}_total_price">{{ item.get_total }}</span>&nbsp
        </div>
    {% endfor %}
    <br><br>Total quantity: <span class="total_quantity">{{ order.get_order_items }}</span>
    <br><br>Total price: <span id="total_price">{{ order.get_order_total }}</span>
    <br><br>Order status: <span id="total_price"><b>{{ order.order_status.name }}</b></span><br>
    {% if order.order_status.name == "placed" %}
        <form action = "" method = "post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Submit">
        </form>
    {% endif %}
{% endblock content %}

{% block js %}
    <script src="{% static "store/js/cart.js" %}"></script>
{% endblock js %}