{% extends 'base.html' %}
{% load static %}
{% block title %}{{ block.super}}order history page {% endblock title %}
{% block content %}
<h1>Order history</h1>
    <a href="{% url 'store:store_page' %}">Back to store</a><br><br><br>
    {% for order in orders %}
        <br><br><br><a href="{% url 'store:order_detail' order.id %}"><b>Order: {{ order.order_code }}</b></a>
    Total quantity: <span class="total_quantity">{{ order.get_order_items }}</span>
    Total price: <span id="total_price">{{ order.get_order_total }}</span>
    {% endfor %}
{% endblock content %}

{% block js %}
    <script src="{% static "store/js/cart.js" %}"></script>
{% endblock js %}