{% extends 'base.html' %}
{% load static %}
{% load translation %}
{% block title %}{{ block.super}}store page {% endblock title %}
{% block content %}
    <!-- start section -->
    <section class="padding-8-half-rem-lr border-top border-width-1px border-color-medium-gray xl-padding-3-rem-lr md-no-padding-lr padding-6-half-rem-top padding-1-half-rem-bottom">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 text-center margin-5-half-rem-bottom md-margin-3-rem-bottom wow animate__fadeIn">
                    <span class="alt-font font-weight-500 text-dark-orange text-uppercase letter-spacing-1px d-block margin-5px-bottom">Lorem ipsum</span>
                    <h4 class="alt-font font-weight-600 text-extra-dark-gray mb-0 letter-spacing-minus-1px">New products</h4>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section class="padding-five-lr pt-0 xl-padding-one-lr md-no-padding-lr wow animate__fadeIn">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 filter-content">
                    <ul class="shop-category-style-01 shop-wrapper grid grid-loading grid-4col xl-grid-4col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large">
                        <li class="grid-sizer"></li>
                        {% for product in products %}
                        <!-- start category item -->
                        <li class="grid-item wow animate__fadeIn">
                            <div class="shop-product">
                                <div class="shop-product-image">
                                    <a href="{% url 'store:product' product.name %}"><img src="{{ product.default_image.url }}" alt=""/></a>
                                </div>
                                <div class="shop-product-content d-flex align-items-center bg-white padding-30px-lr padding-5px-tb">
                                    <a href="{% url 'store:product' product.name %}" class="alt-font font-weight-500 line-height-18px text-extra-dark-gray d-inline-block align-middle text-uppercase mr-auto">{{ product.name }}</a>
                                    <a href="{% url 'store:product' product.name %}"><i class="line-icon-Arrow-OutRight icon-large text-extra-dark-gray align-middle margin-15px-left"></i></a>
                                </div>
                            </div>
                        </li>
                        <!-- end category item -->
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
{% endblock content %}

{% block js %}
    <script src="{% static "store/js/cart.js" %}"></script>
{% endblock js %}