{% extends 'base.html' %}
{% load static %}
{% block title %}{{ block.super}}store page {% endblock title %}
{% block content %}
<h1>Store page</h1>
<a href="{% url 'accounts:logout' %}">logout</a>&nbsp&nbsp
    <a href="{% url 'store:order_page' %}">Orders <span class="total_quantity">{{ order_items }}</span></a>
    <a href="{% url 'store:order_history' %}">Orders history</a>
    <ol>
        {% for product in products %}
            <li>{{ product.name }}&nbsp <b>price</b>{{ product.price_per_unit }}
                <button data-product="{{ product.id }}" data-action="add" class="update-cart">add</button>
            </li>
        {% endfor %}
    </ol>
{% endblock content %}

{% block js %}
    <script src="{% static "store/js/cart.js" %}"></script>
{% endblock js %}